* {
  margin: 0;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap");

body,
#root {
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  min-height: 100vh;
}
.App {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 32px 0;
  text-align: center;
  background-color: var(--Gray);
  min-height: 100vh;
  box-sizing: border-box;
}

.content {
  width: 764px;
  flex-shrink: 0;
}
@media (max-width: 764px) {
  .content {
    width: 100%;
    height: fit-content;
  }
}
